@import "../breakpointtest.scss";
@import "../pseudo.scss";

$obj: (
    isolate : isolate,
    isolation-auto : auto,
);

@each $key, $value in $obj {
    .#{$key} {
        isolation: $value;
    }

    @each $pseudo in map-keys($pseudos){
        @include pseudo($pseudo, "#{$key}") {
            isolation: $value;
        }
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:#{$key} {
                isolation: $value;
            }
        }
    }
}