@import "../breakpointtest.scss";
@import "../pseudo.scss";

$obj: (
    static : static,
    fixed : fixed,
    absolute : absolute,
    relative : relative,
    sticky : sticky,
);

@each $key, $value in $obj {
    .#{$key} {
        position: $value;
    }

    @each $pseudo in map-keys($pseudos){
        @include pseudo($pseudo, "#{$key}") {
            position: $value;
        }
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:#{$key} {
                position: $value;
            }
        }
    }
}