// padding.scss
@import "breakpointtest";
@import "pseudo";

$paddings: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
);

@each $key, $value in $paddings {
    .p-#{$key} {
        padding: $value;
    }

    @each $pseudo in map-keys($pseudos){
        @include pseudo($pseudo, "p-#{$key}") {
            padding: $value;
        }
    }
    

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:p-#{$key} {
                padding: $value;
            }
        }
    }

}



