@import "../breakpointtest.scss";
@import "../pseudo.scss";

$obj: (
    0: 0px,
    px: 1px,
    0.5: 0.125rem,
    1: 0.25rem,
    1.5: 0.375rem,
    2: 0.5rem,
    2.5: 0.625rem,
    3: 0.75rem,
    3.5: 0.875rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
    36: 9rem,
    40: 10rem,
    44: 11rem,
    48: 12rem,
    52: 13rem,
    56: 14rem,
    60: 15rem,
    64: 16rem,
    72: 18rem,
    80: 20rem,
    96: 24rem,
    auto: auto,
);

@each $key, $value in $obj {
    .m-#{$key} {
        margin: $value;
    }
    .mt-#{$key} {
        margin-top: $value;
    }
    .mb-#{$key} {
        margin-bottom: $value;
    }
    .ml-#{$key} {
        margin-left: $value;
    }
    .mr-#{$key} {
        margin-right: $value;
    }
    .ms-#{$key} {
        margin-inline-start: $value;
    }
    .me-#{$key} {
        margin-inline-end: $value;
    }
    .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
    }
    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:m-#{$key} {
                margin: $value;
            }
            .#{$breakpoint}\:mt-#{$key} {
                margin-top: $value;
            }
            .#{$breakpoint}\:mb-#{$key} {
                margin-bottom: $value;
            }
            .#{$breakpoint}\:ml-#{$key} {
                margin-left: $value;
            }
            .#{$breakpoint}\:mr-#{$key} {
                margin-right: $value;
            }
            .#{$breakpoint}\:ms-#{$key} {
                margin-inline-start: $value;
            }
            .#{$breakpoint}\:me-#{$key} {
                margin-inline-end: $value;
            }
            .#{$breakpoint}\:mx-#{$key} {
                margin-left: $value;
                margin-right: $value;
            }
            .#{$breakpoint}\:my-#{$key} {
                margin-top: $value;
                margin-bottom: $value;
            }
        }
    }

    @each $pseudoClass in map-keys($pseudos) {
        @include pseudo($pseudoClass, m-#{$key}) {
            margin: $value;
        }
        @include pseudo($pseudoClass, mt-#{$key}) {
            margin-top: $value;
        }
        @include pseudo($pseudoClass, mb-#{$key}) {
            margin-bottom: $value;
        }
        @include pseudo($pseudoClass, ml-#{$key}) {
            margin-left: $value;
        }
        @include pseudo($pseudoClass, mr-#{$key}) {
            margin-right: $value;
        }
        @include pseudo($pseudoClass, ms-#{$key}) {
            margin-inline-start: $value;
        }
        @include pseudo($pseudoClass, me-#{$key}) {
            margin-inline-end: $value;
        }
        @include pseudo($pseudoClass, mx-#{$key}) {
            margin-left: $value;
            margin-right: $value;
        }
        @include pseudo($pseudoClass, my-#{$key}) {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}
