@import "../breakpointtest.scss";
@import "../pseudo.scss";

$obj: (
    0: 0px,
    px: 1px,
    0.5: 0.125rem,
    1: 0.25rem,
    1.5: 0.375rem,
    2: 0.5rem,
    2.5: 0.625rem,
    3: 0.75rem,
    3.5: 0.875rem,
    4: 1rem,
    5: 1.25rem,
    6: 1.5rem,
    7: 1.75rem,
    8: 2rem,
    9: 2.25rem,
    10: 2.5rem,
    11: 2.75rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
    36: 9rem,
    40: 10rem,
    44: 11rem,
    48: 12rem,
    52: 13rem,
    56: 14rem,
    60: 15rem,
    64: 16rem,
    72: 18rem,
    80: 20rem,
    96: 24rem,
);

@each $key, $value in $obj {
    .p-#{$key} {
        padding: $value;
    }
    .pt-#{$key} {
        padding-top: $value;
    }
    .pb-#{$key} {
        padding-bottom: $value;
    }
    .pl-#{$key} {
        padding-left: $value;
    }
    .pr-#{$key} {
        padding-right: $value;
    }
    .ps-#{$key} {
        padding-inline-start: $value;
    }
    .pe-#{$key} {
        padding-inline-end: $value;
    }
    .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
    }
    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:p-#{$key} {
                padding: $value;
            }
            .#{$breakpoint}\:pt-#{$key} {
                padding-top: $value;
            }
            .#{$breakpoint}\:pb-#{$key} {
                padding-bottom: $value;
            }
            .#{$breakpoint}\:pl-#{$key} {
                padding-left: $value;
            }
            .#{$breakpoint}\:pr-#{$key} {
                padding-right: $value;
            }
            .#{$breakpoint}\:ps-#{$key} {
                padding-inline-start: $value;
            }
            .#{$breakpoint}\:pe-#{$key} {
                padding-inline-end: $value;
            }
            .#{$breakpoint}\:px-#{$key} {
                padding-left: $value;
                padding-right: $value;
            }
            .#{$breakpoint}\:py-#{$key} {
                padding-top: $value;
                padding-bottom: $value;
            }
        }
    }

    @each $pseudoClass in map-keys($pseudos) {
        @include pseudo($pseudoClass, p-#{$key}) {
            padding: $value;
        }
        @include pseudo($pseudoClass, pt-#{$key}) {
            padding-top: $value;
        }
        @include pseudo($pseudoClass, pb-#{$key}) {
            padding-bottom: $value;
        }
        @include pseudo($pseudoClass, pl-#{$key}) {
            padding-left: $value;
        }
        @include pseudo($pseudoClass, pr-#{$key}) {
            padding-right: $value;
        }
        @include pseudo($pseudoClass, ps-#{$key}) {
            padding-inline-start: $value;
        }
        @include pseudo($pseudoClass, pe-#{$key}) {
            padding-inline-end: $value;
        }
        @include pseudo($pseudoClass, px-#{$key}) {
            padding-left: $value;
            padding-right: $value;
        }
        @include pseudo($pseudoClass, py-#{$key}) {
            padding-top: $value;
            padding-bottom: $value;
        }
    }
}
