@import "../colors";
@import "../pseudo.scss";
@import "../breakpointtest.scss";


@each $color, $value in $colors-map {
  // 기본 클래스 설정
  .border-#{"#{$color}"} {
    border-color: #{$value};
  }

  // 반응형 클래스 설정
  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:border-#{"#{$color}"} {
        border-color: #{$value};
      }
    }
  }

  // pseudo 클래스 설정
  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "border-#{"#{$color}"}") {
      border-color: #{$value};
    }
  }
}
