@import "../colors";
@import "../pseudo.scss";
@import "../breakpointtest.scss";

@each $color, $value in $colors-map {
  // 기본 클래스 설정
  .divide-#{"#{$color}"} > * + * {
    --tw-divide-color: #{$value};
    border-color: var(--tw-divide-color);
  }

  // 반응형 클래스 설정
  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:divide-#{"#{$color}"} > * + * {
        --tw-divide-color: #{$value};
        border-color: var(--tw-divide-color);
      }
    }
  }

  // pseudo 클래스 설정
  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "divide-#{"#{$color}"}") {
      > * + * {
        --tw-divide-color: #{$value};
        border-color: var(--tw-divide-color);
      }
    }
  }
}
