@import "../colors";

// Define opacity values
$opacity-values: (
    100: 1,
    75: 0.75,
    50: 0.5,
    25: 0.25,
    20: 0.2,
    10: 0.1,
    0: 0,
    6: 0.06,
    // For arbitrary opacity values
);

@function remove-rgb($color) {
    @if type-of($color) == "color" {
        $r: red($color);
        $g: green($color);
        $b: blue($color);
        @return #{$r}, #{$g}, #{$b};
    } @else {
        @warn "Expected a color, but got: #{$color}";
        @return null;
    }
}

// Generate ring color classes
@each $color-key, $color-values in $colors-map {
    $color-value: remove-rgb($color-values);
    
    // Class for basic ring color without opacity
    .ring-#{$color-key} {
        --tw-ring-color: rgb(#{$color-value});
    }
    
    // Class for ring color with opacity
    @each $opacity-key, $opacity-value in $opacity-values {
        .ring-#{$color-key}\/#{$opacity-key} {
            --tw-ring-color: rgba(#{$color-value}, #{$opacity-value});
        }
    }
}