@import "../breakpointtest.scss";
@import "../pseudo.scss"; // pseudo.scss 파일의 실제 경로를 입력하세요.

$drop_shadows: (
    sm: "drop-shadow(0 1px 1px rgb(0 0 0 / 0.05))",
    default:
        "drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06))",
    md:
        "drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06))",
    lg:
        "drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1))",
    xl:
        "drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08))",
    "2xl": "drop-shadow(0 25px 25px rgb(0 0 0 / 0.15))",
    none: "drop-shadow(0 0 #0000)",
);

@each $key, $value in $drop_shadows {
    .drop-shadow-#{$key} {
        filter: #{$value};
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:drop-shadow-#{$key} {
                filter: #{$value};
            }
        }
    }

    @each $pseudoClass in map-keys($pseudos) {
        @include pseudo($pseudoClass, drop-shadow-#{$key}) {
            filter: #{$value};
        }
    }
}
