// list-style-position.scss
@import "../breakpointtest.scss";
@import "../pseudo.scss";

$list-style-positions: (
  'inside': inside,
  'outside': outside
);

@each $key, $value in $list-style-positions {
  .list-#{$key} {
    list-style-position: $value;
  }

  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "list-#{$key}") {
      list-style-position: $value;
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:list-#{$key} {
        list-style-position: $value;
      }

      @each $pseudo in map-keys($pseudos) {
        @include pseudo($pseudo, "#{$breakpoint}:list-#{$key}") {
          list-style-position: $value;
        }
      }
    }
  }
}