@import "../breakpointtest.scss";
@import "../colors";
@import "../pseudo.scss";

// Define opacity values
$opacity-values: (
  100: 1,
  75: 0.75,
  50: 0.5,
  25: 0.25,
  0: 0,
  6: 0.06 // For arbitrary opacity values,,,,,,,,
);

// 기본 클래스, pseudo 클래스, 반응형 클래스 설정
@each $color, $value in $colors-map {
  // 기본 클래스 설정
  .decoration-#{"#{$color}"} {
 text-decoration-color: $value;
}

// pseudo 클래스 설정
@each $pseudo in map-keys($pseudos) {
  @include pseudo($pseudo, "decoration-#{$color}") {
    --tw-text-decoration-color-opacity: 1;
    text-decoration-color: rgba($value, var(--tw-text-decoration-color-opacity));
  }
}

// 반응형 클래스 설정
@each $breakpoint in map-keys($breakpoints) {
  @include breakpoint($breakpoint) {
    .#{$breakpoint}\:decoration-#{"#{$color}"} {
 text-decoration-color: $value;
  }
}
}
}