@import "../breakpointtest.scss";
@import "../colors";


@each $color, $value in $colors-map {
    // 기본 클래스 설정
    .text-#{"#{$color}"} {
      color: $value;
    }
  
    // 반응형 클래스 설정
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        .#{$breakpoint}\:text-#{"#{$color}"} {
          color: $value;
        }
      }
    }
  
    // pseudo 클래스 설정
    @each $pseudo in map-keys($pseudos) {
      @include pseudo($pseudo, "text-#{"#{$color}"}") {
        color: $value;
      }
    }
  }
  