
.opacity-0{
    opacity: 0;
  }

  .opacity-5{
    opacity: 0.05;
  }

  .opacity-10{
    opacity: 0.1;
  }

  .opacity-20{
    opacity: 0.2;
  }

  .opacity-25{
    opacity: 0.25;
  }

  .opacity-30{
    opacity: 0.3;
  }

  .opacity-40{
    opacity: 0.4;
  }

  .opacity-50{
    opacity: 0.5;
  }

  .opacity-60{
    opacity: 0.6;
  }

  .opacity-70{
    opacity: 0.7;
  }

  .opacity-75{
    opacity: 0.75;
  }

  .opacity-80{
    opacity: 0.8;
  }

  .opacity-90{
    opacity: 0.9;
  }

  .opacity-95{
    opacity: 0.95;
  }

  .opacity-100{
    opacity: 1;
  }



.group:hover .group-hover\:opacity-0{
    opacity: 0;
  }

  .group:hover .group-hover\:opacity-5{
    opacity: 0.05;
  }

  .group:hover .group-hover\:opacity-10{
    opacity: 0.1;
  }

  .group:hover .group-hover\:opacity-20{
    opacity: 0.2;
  }

  .group:hover .group-hover\:opacity-25{
    opacity: 0.25;
  }

  .group:hover .group-hover\:opacity-30{
    opacity: 0.3;
  }

  .group:hover .group-hover\:opacity-40{
    opacity: 0.4;
  }

  .group:hover .group-hover\:opacity-50{
    opacity: 0.5;
  }

  .group:hover .group-hover\:opacity-60{
    opacity: 0.6;
  }

  .group:hover .group-hover\:opacity-70{
    opacity: 0.7;
  }

  .group:hover .group-hover\:opacity-75{
    opacity: 0.75;
  }

  .group:hover .group-hover\:opacity-80{
    opacity: 0.8;
  }

  .group:hover .group-hover\:opacity-90{
    opacity: 0.9;
  }

  .group:hover .group-hover\:opacity-95{
    opacity: 0.95;
  }

  .group:hover .group-hover\:opacity-100{
    opacity: 1;
  }

  .focus-within\:opacity-0:focus-within{
    opacity: 0;
  }

  .focus-within\:opacity-5:focus-within{
    opacity: 0.05;
  }

  .focus-within\:opacity-10:focus-within{
    opacity: 0.1;
  }

  .focus-within\:opacity-20:focus-within{
    opacity: 0.2;
  }

  .focus-within\:opacity-25:focus-within{
    opacity: 0.25;
  }

  .focus-within\:opacity-30:focus-within{
    opacity: 0.3;
  }

  .focus-within\:opacity-40:focus-within{
    opacity: 0.4;
  }

  .focus-within\:opacity-50:focus-within{
    opacity: 0.5;
  }

  .focus-within\:opacity-60:focus-within{
    opacity: 0.6;
  }

  .focus-within\:opacity-70:focus-within{
    opacity: 0.7;
  }

  .focus-within\:opacity-75:focus-within{
    opacity: 0.75;
  }

  .focus-within\:opacity-80:focus-within{
    opacity: 0.8;
  }

  .focus-within\:opacity-90:focus-within{
    opacity: 0.9;
  }

  .focus-within\:opacity-95:focus-within{
    opacity: 0.95;
  }

  .focus-within\:opacity-100:focus-within{
    opacity: 1;
  }

  .hover\:opacity-0:hover{
    opacity: 0;
  }

  .hover\:opacity-5:hover{
    opacity: 0.05;
  }

  .hover\:opacity-10:hover{
    opacity: 0.1;
  }

  .hover\:opacity-20:hover{
    opacity: 0.2;
  }

  .hover\:opacity-25:hover{
    opacity: 0.25;
  }

  .hover\:opacity-30:hover{
    opacity: 0.3;
  }

  .hover\:opacity-40:hover{
    opacity: 0.4;
  }

  .hover\:opacity-50:hover{
    opacity: 0.5;
  }

  .hover\:opacity-60:hover{
    opacity: 0.6;
  }

  .hover\:opacity-70:hover{
    opacity: 0.7;
  }

  .hover\:opacity-75:hover{
    opacity: 0.75;
  }

  .hover\:opacity-80:hover{
    opacity: 0.8;
  }

  .hover\:opacity-90:hover{
    opacity: 0.9;
  }

  .hover\:opacity-95:hover{
    opacity: 0.95;
  }

  .hover\:opacity-100:hover{
    opacity: 1;
  }

  .focus\:opacity-0:focus{
    opacity: 0;
  }

  .focus\:opacity-5:focus{
    opacity: 0.05;
  }

  .focus\:opacity-10:focus{
    opacity: 0.1;
  }

  .focus\:opacity-20:focus{
    opacity: 0.2;
  }

  .focus\:opacity-25:focus{
    opacity: 0.25;
  }

  .focus\:opacity-30:focus{
    opacity: 0.3;
  }

  .focus\:opacity-40:focus{
    opacity: 0.4;
  }

  .focus\:opacity-50:focus{
    opacity: 0.5;
  }

  .focus\:opacity-60:focus{
    opacity: 0.6;
  }

  .focus\:opacity-70:focus{
    opacity: 0.7;
  }

  .focus\:opacity-75:focus{
    opacity: 0.75;
  }

  .focus\:opacity-80:focus{
    opacity: 0.8;
  }

  .focus\:opacity-90:focus{
    opacity: 0.9;
  }

  .focus\:opacity-95:focus{
    opacity: 0.95;
  }

  .focus\:opacity-100:focus{
    opacity: 1;
  }

  .disabled\:opacity-0:disabled{
    opacity: 0;
  }

  .disabled\:opacity-5:disabled{
    opacity: 0.05;
  }

  .disabled\:opacity-10:disabled{
    opacity: 0.1;
  }

  .disabled\:opacity-20:disabled{
    opacity: 0.2;
  }

  .disabled\:opacity-25:disabled{
    opacity: 0.25;
  }

  .disabled\:opacity-30:disabled{
    opacity: 0.3;
  }

  .disabled\:opacity-40:disabled{
    opacity: 0.4;
  }

  .disabled\:opacity-50:disabled{
    opacity: 0.5;
  }

  .disabled\:opacity-60:disabled{
    opacity: 0.6;
  }

  .disabled\:opacity-70:disabled{
    opacity: 0.7;
  }

  .disabled\:opacity-75:disabled{
    opacity: 0.75;
  }

  .disabled\:opacity-80:disabled{
    opacity: 0.8;
  }

  .disabled\:opacity-90:disabled{
    opacity: 0.9;
  }

  .disabled\:opacity-95:disabled{
    opacity: 0.95;
  }

  .disabled\:opacity-100:disabled{
    opacity: 1;
  }
