/* Width */

.w-0{
    width: 0px;
 }

 .w-px{
    width: 1px;
 }

 .w-0_5{
    width: 0.125rem;
 }

 .w-1{
    width: 0.25rem;
 }

 .w-1_5{
    width: 0.375rem;
 }

 .w-2{
    width: 0.5rem;
 }

 .w-2_5{
    width: 0.625rem;
 }

 .w-3{
    width: 0.75rem;
 }

 .w-3_5{
    width: 0.875rem;
 }

 .w-4{
    width: 1rem;
 }

 .w-5{
    width: 1.25rem;
 }

 .w-6{
    width: 1.5rem;
 }

 .w-7{
    width: 1.75rem;
 }

 .w-8{
    width: 2rem;
 }

 .w-9{
    width: 2.25rem;
 }

 .w-10{
    width: 2.5rem;
 }

 .w-11{
    width: 2.75rem;
 }

 .w-12{
    width: 3rem;
 }

 .w-14{
    width: 3.5rem;
 }

 .w-16{
    width: 4rem;
 }

 .w-20{
    width: 5rem;
 }

 .w-24{
    width: 6rem;
 }

 .w-28{
    width: 7rem;
 }

 .w-32{
    width: 8rem;
 }

 .w-36{
    width: 9rem;
 }

 .w-40{
    width: 10rem;
 }

 .w-44{
    width: 11rem;
 }

 .w-48{
    width: 12rem;
 }

 .w-52{
    width: 13rem;
 }

 .w-56{
    width: 14rem;
 }

 .w-60{
    width: 15rem;
 }

 .w-64{
    width: 16rem;
 }

 .w-72{
    width: 18rem;
 }

 .w-80{
    width: 20rem;
 }

 .w-96{
    width: 24rem;
 }

 .w-auto{
    width: auto;
 }

 .w-1\/2{
    width: 50%;
 }

 .w-1v3{
    width: 33.333333%;
 }

 .w-2\/3{
    width: 66.666666%;
 }

 .w-1\/4{
    width: 25%;
 }

 .w-2\/4{
    width: 50%;
 }

 .w-3\/4{
    width: 75%;
 }

 .w-1\/5{
    width: 20%;
 }

 .w-2\/5{
    width: 40%;
 }

 .w-3\/5{
    width: 60%;
 }

 .w-4\/5{
    width: 80%;
 }

 .w-1\/6{
    width: 16.666667%;
 }

 .w-2\/6{
    width: 33.3333333%;
 }

 .w-3\/6{
    width: 50%;
 }

 .w-4\/6{
    width: 66.666667%;
 }

 .w-5\/6{
    width: 83.333333%;
 }

 .w-1\/12{
    width: 8.333333%;
 }

 .w-2\/12{
    width: 16.666667%;
 }

 .w-3\/12{
    width: 25%;
 }

 .w-4\/12{
    width: 33.333333%;
 }

 .w-5\/12{
    width: 41.666667%;
 }

 .w-6\/12{
    width: 50%;
 }

 .w-7\/12{
    width: 58.333333%;
 }

 .w-8\/12{
    width: 66.666667%;
 }

 .w-9\/12{
    width: 75%;
 }

 .w-10\/12{
    width: 83.333333%;
 }

 .w-11\/12{
    width: 91.666667%;
 }

 .w-full{
    width: 100%;
 }

 .w-screen{
    width: 100vw;
 }

 .w-svw{
    width: 100svw;
 }

 .w-lvw{
    width: 100lvw;
 }

 .w-dvw{
    width: 100dvw;
 }

 .w-min{
    width: min-content;
 }

 .w-max{
    width: max-content;
 }

 .w-fit{
    width: fit-content;
}

/* Min-Width */
.min-w-0{
    min-width: 0px;
 }

 .min-w-px{
    min-width: 1px;
 }

 .min-w-0_5{
    min-width: 0.125rem;
 }

 .min-w-1{
    min-width: 0.25rem;
 }

 .min-w-1_5{
    min-width: 0.375rem;
 }

 .min-w-2{
    min-width: 0.5rem;
 }

 .min-w-2_5{
    min-width: 0.625rem;
 }

 .min-w-3{
    min-width: 0.75rem;
 }

 .min-w-3_5{
    min-width: 0.875rem;
 }

 .min-w-4{
    min-width: 1rem;
 }

 .min-w-5{
    min-width: 1.25rem;
 }

 .min-w-6{
    min-width: 1.5rem;
 }

 .min-w-7{
    min-width: 1.75rem;
 }

 .min-w-8{
    min-width: 2rem;
 }

 .min-w-9{
    min-width: 2.25rem;
 }

 .min-w-10{
    min-width: 2.5rem;
 }

 .min-w-11{
    min-width: 2.75rem;
 }

 .min-w-12{
    min-width: 3rem;
 }

 .min-w-14{
    min-width: 3.5rem;
 }

 .min-w-16{
    min-width: 4rem;
 }

 .min-w-20{
    min-width: 5rem;
 }

 .min-w-24{
    min-width: 6rem;
 }

 .min-w-28{
    min-width: 7rem;
 }

 .min-w-32{
    min-width: 8rem;
 }

 .min-w-36{
    min-width: 9rem;
 }

 .min-w-40{
    min-width: 10rem;
 }

 .min-w-44{
    min-width: 11rem;
 }

 .min-w-48{
    min-width: 12rem;
 }

 .min-w-52{
    min-width: 13rem;
 }

 .min-w-56{
    min-width: 14rem;
 }

 .min-w-60{
    min-width: 15rem;
 }

 .min-w-64{
    min-width: 16rem;
 }

 .min-w-72{
    min-width: 18rem;
 }

 .min-w-80{
    min-width: 20rem;
 }

 .min-w-96{
    min-width: 24rem;
 }

 .min-w-full{
    min-width: 100%;
 }

 .min-w-min{
    min-width: min-content;
 }

 .min-w-max{
    min-width: max-content;
 }

 .min-w-fit{
    min-width: fit-content;
}

/* Max-Width */
.max-w-0{
    max-width: 0px;
 }

 .max-w-px{
    max-width: 1px;
 }

 .max-w-0_5{
    max-width: 0.125rem;
 }

 .max-w-1{
    max-width: 0.25rem;
 }

 .max-w-1_5{
    max-width: 0.375rem;
 }

 .max-w-2{
    max-width: 0.5rem;
 }

 .max-w-2_5{
    max-width: 0.625rem;
 }

 .max-w-3{
    max-width: 0.75rem;
 }

 .max-w-3_5{
    max-width: 0.875rem;
 }

 .max-w-4{
    max-width: 1rem;
 }

 .max-w-5{
    max-width: 1.25rem;
 }

 .max-w-6{
    max-width: 1.5rem;
 }

 .max-w-7{
    max-width: 1.75rem;
 }

 .max-w-8{
    max-width: 2rem;
 }

 .max-w-9{
    max-width: 2.25rem;
 }

 .max-w-10{
    max-width: 2.5rem;
 }

 .max-w-11{
    max-width: 2.75rem;
 }

 .max-w-12{
    max-width: 3rem;
 }

 .max-w-14{
    max-width: 3.5rem;
 }

 .max-w-16{
    max-width: 4rem;
 }

 .max-w-20{
    max-width: 5rem;
 }

 .max-w-24{
    max-width: 6rem;
 }

 .max-w-28{
    max-width: 7rem;
 }

 .max-w-32{
    max-width: 8rem;
 }

 .max-w-36{
    max-width: 9rem;
 }

 .max-w-40{
    max-width: 10rem;
 }

 .max-w-44{
    max-width: 11rem;
 }

 .max-w-48{
    max-width: 12rem;
 }

 .max-w-52{
    max-width: 13rem;
 }

 .max-w-56{
    max-width: 14rem;
 }

 .max-w-60{
    max-width: 15rem;
 }

 .max-w-64{
    max-width: 16rem;
 }

 .max-w-72{
    max-width: 18rem;
 }

 .max-w-80{
    max-width: 20rem;
 }

 .max-w-96{
    max-width: 24rem;
 }

 .max-w-none{
    max-width: none;
 }

 .max-w-xs{
    max-width: 20rem;
 }

 .max-w-sm{
    max-width: 24rem;
 }

 .max-w-md{
    max-width: 28rem;
 }

 .max-w-lg{
    max-width: 32rem;
 }

 .max-w-xl{
    max-width: 36rem;
 }

 .max-w-2xl{
    max-width: 42rem;
 }

 .max-w-3xl{
    max-width: 48rem;
 }

 .max-w-4xl{
    max-width: 56rem;
 }

 .max-w-5xl{
    max-width: 64rem;
 }

 .max-w-6xl{
    max-width: 72rem;
 }

 .max-w-7xl{
    max-width: 80rem;
 }

 .max-w-full{
    max-width: 100%;
 }

 .max-w-min{
    max-width: min-content;
 }

 .max-w-max{
    max-width: max-content;
 }

 .max-w-fit{
    max-width: fit-content;
 }

 .max-w-propose{
    max-width: 65ch;
 }

 .max-w-screen-sm{
    max-width: 640px;
 }

 .max-w-screen-md{
    max-width: 768px;
 }

 .max-w-screen-lg{
    max-width: 1024px;
 }

 .max-w-screen-xl{
    max-width: 1280px;
 }

 .max-w-screen-2xl{
    max-width: 1536px;
}

/* Height */
.h-0{
    height: 0px;
 }

 .h-px{
    height: 1px;
 }

 .h-0_5{
    height: 0.125rem;
 }

 .h-1{
    height: 0.25rem;
 }

 .h-1_5{
    height: 0.375rem;
 }

 .h-2{
    height: 0.5rem;
 }

 .h-2_5{
    height: 0.625rem;
 }

 .h-3{
    height: 0.75rem;
 }

 .h-3_5{
    height: 0.875rem;
 }

 .h-4{
    height: 1rem;
 }

 .h-5{
    height: 1.25rem;
 }

 .h-6{
    height: 1.5rem;
 }

 .h-7{
    height: 1.75rem;
 }

 .h-8{
    height: 2rem;
 }

 .h-9{
    height: 2.25rem;
 }

 .h-10{
    height: 2.5rem;
 }

 .h-11{
    height: 2.75rem;
 }

 .h-12{
    height: 3rem;
 }

 .h-14{
    height: 3.5rem;
 }

 .h-16{
    height: 4rem;
 }

 .h-20{
    height: 5rem;
 }

 .h-24{
    height: 6rem;
 }

 .h-28{
    height: 7rem;
 }

 .h-32{
    height: 8rem;
 }

 .h-36{
    height: 9rem;
 }

 .h-40{
    height: 10rem;
 }

 .h-44{
    height: 11rem;
 }

 .h-48{
    height: 12rem;
 }

 .h-52{
    height: 13rem;
 }

 .h-56{
    height: 14rem;
 }

 .h-60{
    height: 15rem;
 }

 .h-64{
    height: 16rem;
 }

 .h-72{
    height: 18rem;
 }

 .h-80{
    height: 20rem;
 }

 .h-96{
    height: 24rem;
 }

 .h-auto{
    height: auto;
 }

 .h-1\/2{
    height: 50%;
 }

 .h-1v3{
    height: 33.333333%;
 }

 .h-2\/3{
    height: 66.666666%;
 }

 .h-1\/4{
    height: 25%;
 }

 .h-2\/4{
    height: 50%;
 }

 .h-3\/4{
    height: 75%;
 }

 .h-1\/5{
    height: 20%;
 }

 .h-2\/5{
    height: 40%;
 }

 .h-3\/5{
    height: 60%;
 }

 .h-4\/5{
    height: 80%;
 }

 .h-1\/6{
    height: 16.666667%;
 }

 .h-2\/6{
    height: 33.3333333%;
 }

 .h-3\/6{
    height: 50%;
 }

 .h-4\/6{
    height: 66.666667%;
 }

 .h-5\/6{
    height: 83.333333%;
 }

 .h-full{
    height: 100%;
 }

 .h-screen{
    height: 100vh;
 }

 .h-svh{
    height: 100svh;
 }

 .h-lvh{
    height: 100lvh;
 }

 .h-dvh{
    height: 100dvh;
 }

 .h-min{
    height: min-content;
 }

 .h-max{
    height: max-content;
 }

 .h-fit{
    height: fit-content;
}

/* Min-Height */
.min-h-0{
    min-height: 0px;
 }

 .min-h-px{
    min-height: 1px;
 }

 .min-h-0_5{
    min-height: 0.125rem;
 }

 .min-h-1{
    min-height: 0.25rem;
 }

 .min-h-1_5{
    min-height: 0.375rem;
 }

 .min-h-2{
    min-height: 0.5rem;
 }

 .min-h-2_5{
    min-height: 0.625rem;
 }

 .min-h-3{
    min-height: 0.75rem;
 }

 .min-h-3_5{
    min-height: 0.875rem;
 }

 .min-h-4{
    min-height: 1rem;
 }

 .min-h-5{
    min-height: 1.25rem;
 }

 .min-h-6{
    min-height: 1.5rem;
 }

 .min-h-7{
    min-height: 1.75rem;
 }

 .min-h-8{
    min-height: 2rem;
 }

 .min-h-9{
    min-height: 2.25rem;
 }

 .min-h-10{
    min-height: 2.5rem;
 }

 .min-h-11{
    min-height: 2.75rem;
 }

 .min-h-12{
    min-height: 3rem;
 }

 .min-h-14{
    min-height: 3.5rem;
 }

 .min-h-16{
    min-height: 4rem;
 }

 .min-h-20{
    min-height: 5rem;
 }

 .min-h-24{
    min-height: 6rem;
 }

 .min-h-28{
    min-height: 7rem;
 }

 .min-h-32{
    min-height: 8rem;
 }

 .min-h-36{
    min-height: 9rem;
 }

 .min-h-40{
    min-height: 10rem;
 }

 .min-h-44{
    min-height: 11rem;
 }

 .min-h-48{
    min-height: 12rem;
 }

 .min-h-52{
    min-height: 13rem;
 }

 .min-h-56{
    min-height: 14rem;
 }

 .min-h-60{
    min-height: 15rem;
 }

 .min-h-64{
    min-height: 16rem;
 }

 .min-h-72{
    min-height: 18rem;
 }

 .min-h-80{
    min-height: 20rem;
 }

 .min-h-96{
    min-height: 24rem;
 }

 .min-h-full{
    min-height: 100%;
 }

 .min-h-screen{
    min-height: 100vh;
 }

 .min-h-svh{
    min-height: 100svh;
 }

 .min-h-lvh{
    min-height: 100lvh;
 }

 .min-h-dvh{
    min-height: 100dvh;
 }

 .min-h-min{
    min-height: min-content;
 }

 .min-h-max{
    min-height: max-content;
 }

 .min-h-fit{
    min-height: fit-content;
}

/* Max-Height */
.max-h-0{
    max-height: 0px;
 }

 .max-h-px{
    max-height: 1px;
 }

 .max-h-0_5{
    max-height: 0.125rem;
 }

 .max-h-1{
    max-height: 0.25rem;
 }

 .max-h-1_5{
    max-height: 0.375rem;
 }

 .max-h-2{
    max-height: 0.5rem;
 }

 .max-h-2_5{
    max-height: 0.625rem;
 }

 .max-h-3{
    max-height: 0.75rem;
 }

 .max-h-3_5{
    max-height: 0.875rem;
 }

 .max-h-4{
    max-height: 1rem;
 }

 .max-h-5{
    max-height: 1.25rem;
 }

 .max-h-6{
    max-height: 1.5rem;
 }

 .max-h-7{
    max-height: 1.75rem;
 }

 .max-h-8{
    max-height: 2rem;
 }

 .max-h-9{
    max-height: 2.25rem;
 }

 .max-h-10{
    max-height: 2.5rem;
 }

 .max-h-11{
    max-height: 2.75rem;
 }

 .max-h-12{
    max-height: 3rem;
 }

 .max-h-14{
    max-height: 3.5rem;
 }

 .max-h-16{
    max-height: 4rem;
 }

 .max-h-20{
    max-height: 5rem;
 }

 .max-h-24{
    max-height: 6rem;
 }

 .max-h-28{
    max-height: 7rem;
 }

 .max-h-32{
    max-height: 8rem;
 }

 .max-h-36{
    max-height: 9rem;
 }

 .max-h-40{
    max-height: 10rem;
 }

 .max-h-44{
    max-height: 11rem;
 }

 .max-h-48{
    max-height: 12rem;
 }

 .max-h-52{
    max-height: 13rem;
 }

 .max-h-56{
    max-height: 14rem;
 }

 .max-h-60{
    max-height: 15rem;
 }

 .max-h-64{
    max-height: 16rem;
 }

 .max-h-72{
    max-height: 18rem;
 }

 .max-h-80{
    max-height: 20rem;
 }

 .max-h-96{
    max-height: 24rem;
 }

 .max-h-none{
    max-height: none;
 } 

 .max-h-full{
    max-height: 100%;
 }

 .max-h-screen{
    max-height: 100vh;
 }

 .max-h-svh{
    max-height: 100svh;
 }

 .max-h-lvh{
    max-height: 100lvh;
 }

 .max-h-dvh{
    max-height: 100dvh;
 }

 .max-h-min{
    max-height: min-content;
 }

 .max-h-max{
    max-height: max-content;
 }

 .max-h-fit{
    max-height: fit-content;
}

/* Size */
.size-0{
    width: 0px;
    height: 0px;
 }

 .size-px{
    width: 1px;
    height: 1px;
 }

 .size-0_5{
    width: 0.125rem;
    width: 0.125rem;
 }

 .size-1{
    height: 0.25rem;
    width: 0.25rem;
 }

 .size-1_5{
    width: 0.375rem;
    height: 0.375rem;
 }

 .size-2{
    width: 0.5rem;
    height: 0.5rem;
 }

 .size-2_5{
    width: 0.625rem;
    height: 0.625rem;
 }

 .size-3{
    width: 0.75rem;
    height: 0.75rem;
 }

 .size-3_5{
    width: 0.875rem;
    height: 0.875rem;
 }

 .size-4{
    width: 1rem;
    height: 1rem;
 }

 .size-5{
    width: 1.25rem;
    height: 1.25rem;
 }

 .size-6{
    width: 1.5rem;
    height: 1.5rem;
 }

 .size-7{
    width: 1.75rem;
    height: 1.75rem;
 }

 .size-8{
    width: 2rem;
    height: 2rem;
 }

 .size-9{
    width: 2.25rem;
    height: 2.25rem;
 }

 .size-10{
    width: 2.5rem;
    height: 2.5rem;
 }

 .size-11{
    width: 2.75rem;
    height: 2.75rem;
 }

 .size-12{
    width: 3rem;
    height: 3rem;
 }

 .size-14{
    width: 3.5rem;
    height: 3.5rem;
 }

 .size-16{
    width: 4rem;
    height: 4rem;
 }

 .size-20{
    width: 5rem;
    height: 5rem;
 }

 .size-24{
    width: 6rem;
    height: 6rem;
 }

 .size-28{
    width: 7rem;
    height: 7rem;
 }

 .size-32{
    width: 8rem;
    height: 8rem;
 }

 .size-36{
    width: 9rem;
    height: 9rem;
 }

 .size-40{
    width: 10rem;
    height: 10rem;
 }

 .size-44{
    width: 11rem;
    height: 11rem;
 }

 .size-48{
    width: 12rem;
    height: 12rem;
 }

 .size-52{
    width: 13rem;
    height: 13rem;
 }

 .size-56{
    width: 14rem;
    height: 14rem;
 }

 .size-60{
    width: 15rem;
    height: 15rem;
 }

 .size-64{
    width: 16rem;
    height: 16rem;
 }

 .size-72{
    width: 18rem;
    height: 18rem;
 }

 .size-80{
    width: 20rem;
    height: 20rem;
 }

 .size-96{
    width: 24rem;
    height: 24rem;
 }

 .size-auto{
    width: auto;
    height: auto;
 }

 .size-1\/2{
    width: 50%;
    height: 50%;
 }

 .size-1v3{
    width: 33.333333%;
    height: 33.333333%;
 }

 .size-2\/3{
    width: 66.666666%;
    height: 66.666666%;
 }

 .size-1\/4{
    width: 25%;
    height: 25%;
 }

 .size-2\/4{
    width: 50%;
    height: 50%;
 }

 .size-3\/4{
    width: 75%;
    height: 75%;
 }

 .size-1\/5{
    width: 20%;
    height: 20%;
 }

 .size-2\/5{
    width: 40%;
    height: 40%;
 }

 .size-3\/5{
    width: 60%;
    height: 60%;
 }

 .size-4\/5{
    width: 80%;
    height: 80%;
 }

 .size-1\/6{
    width: 16.666667%;
    height: 16.666667%;
 }

 .size-2\/6{
    width: 33.3333333%;
    height: 33.3333333%;
 }

 .size-3\/6{
    width: 50%;
    height: 50%;
 }

 .size-4\/6{
    width: 66.666667%;
    height: 66.666667%;
 }

 .size-5\/6{
    width: 83.333333%;
    height: 83.333333%;
 }

 .size-1\/12{
    width: 8.333333%;
    height: 8.333333%;
 }

 .size-2\/12{
    width: 16.666667%;
    height: 16.666667%;
 }

 .size-3\/12{
    width: 25%;
    height: 25%;
 }

 .size-4\/12{
    width: 33.333333%;
    height: 33.333333%;
 }

 .size-5\/12{
    width: 41.666667%;
    height: 41.666667%;
 }

 .size-6\/12{
    width: 50%;
    height: 50%;
 }

 .size-7\/12{
    width: 58.333333%;
    height: 58.333333%;
 }

 .size-8\/12{
    width: 66.666667%;
    height: 66.666667%;
 }

 .size-9\/12{
    width: 75%;
    height: 75%;
 }

 .size-10\/12{
    width: 83.333333%;
    height: 83.333333%;
 }

 .size-11\/12{
    width: 91.666667%;
    height: 91.666667%;
 }

 .size-full{
    width: 100%;
    height: 100%;
 }

 .size-min{
    width: min-content;
    height: min-content;
 }

 .size-max{
    width: max-content;
    height: max-content;
 }

 .size-fit{
    width: fit-content;
    height: fit-content;
}