@import "../breakpointtest.scss";
@import "../pseudo.scss";

$obj: (
    start : flex-start,
    end : flex-end,
    center : center,
    baseline : baseline,
    stretch : stretch,
);

@each $key, $value in $obj {
    .items-#{$key} {
        align-items: $value;
    }

    @each $pseudo in map-keys($pseudos){
        @include pseudo($pseudo, "items-#{$key}") {
            align-items: $value;
        }
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:items-#{$key} {
                align-items: $value;
            }
        }
    }
}