@import "../breakpointtest.scss";
@import "../pseudo.scss";

$obj: (
    normal : normal,
    center : center,
    start : flex-start,
    end : flex-end,
    between : space-between,
    around : space-around,
    evenly : space-evenly,
    baseline : baseline,
    stretch : stretch
);

@each $key, $value in $obj {
    .content-#{$key} {
        align-content: $value;
    }
    
    @each $pseudo in map-keys($pseudos){
        @include pseudo($pseudo, "content-#{$key}") {
            align-content: $value;
        }
    }

    @each $breakpoint in map-keys($breakpoints) {
        @include breakpoint($breakpoint) {
            .#{$breakpoint}\:content-#{$key} {
                align-content: $value;
            }
        }
    }
}