
/*
 * Trailwind CSS Utility
 */

@import "tailwind/box";
@import "tailwind/color";
@import "tailwind/display";
@import "tailwind/image";
@import "tailwind/margin";
@import "tailwind/opacity";
@import "tailwind/overflow";
@import "tailwind/padding";
@import "tailwind/position";
@import "tailwind/size";
@import "tailwind/text";
@import "tailwind/transition";
@import "tailwind/zindex";
