@import "../breakpointtest.scss";
@import "../pseudo.scss";

// 배경 크기 값 정의
$sizes: (
  auto: auto,
  cover: cover,
  contain: contain
);

// 기본 배경 크기 클래스 생성
@each $key, $value in $sizes {
  .bg-#{$key} {
    background-size: $value;
  }

  // 상태 기반 클래스 생성 (pseudo 클래스를 사용)
  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "bg-#{$key}") {
      background-size: $value;
    }
  }

  // 반응형 브레이크포인트 추가
  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:bg-#{$key} {
        background-size: $value;
      }

      // 반응형 상태 기반 클래스 생성 (pseudo 클래스를 사용)
      @each $pseudo in map-keys($pseudos) {
        @include pseudo($pseudo, "#{$breakpoint}:bg-#{$key}") {
          background-size: $value;
        }
      }
    }
  }
}
