@import "../breakpointtest.scss";

$origins: (
  border: border-box,
  padding: padding-box,
  content: content-box
);

@each $key, $value in $origins {
  .bg-origin-#{$key} {
    background-origin: $value;
  }
}

.group:hover {
  @each $key, $value in $origins {
    .group-hover\:bg-origin-#{$key} {
      background-origin: $value !important;
    }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @include breakpoint($breakpoint) {
    @each $key, $value in $origins {
      .#{$breakpoint}\:bg-origin-#{$key} {
        background-origin: $value;
      }
    }
  }
}

@each $key, $value in $origins {
  .focus-within\:bg-origin-#{$key}:focus-within {
    background-origin: $value;
  }
}

@each $key, $value in $origins {
  .hover\:bg-origin-#{$key}:hover {
    background-origin: $value;
  }
}

@each $key, $value in $origins {
  .focus\:bg-origin-#{$key}:focus {
    background-origin: $value;
  }
}

@each $key, $value in $origins {
  .active\:bg-origin-#{$key}:active {
    background-origin: $value;
  }
}
