@import "../breakpointtest.scss";
@import "../pseudo.scss";

// 배경 위치 맵 정의
// 배경 위치 정의
$positions: (
  bottom: bottom,
  center: 50%,
  left: 0,
  left-bottom: 0 100%,
  left-top: 0 0,
  right: 100%,
  right-bottom: 100% 100%,
  right-top: 100% 0,
  top: top
);

@each $key, $value in $positions {
  .bg-#{$key} {
    background-position: $value;
  }


  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "bg-#{$key}") {
      background-position: $value;
    }
  }

  // 반응형 클래스 설정
  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:bg-#{$key} {
        background-position: $value;
      }

      @each $pseudo in map-keys($pseudos) {
        @include pseudo($pseudo, "#{$breakpoint}\:bg-#{$key}") {
          background-position: $value;
        }
      }
    }
  }
}