@import "../breakpointtest.scss";
@import "../pseudo.scss";

$backgroundImages: (
  none: none,
  gradient-to-t: linear-gradient(to top, var(--tw-gradient-stops)),
  gradient-to-tr: linear-gradient(to top right, var(--tw-gradient-stops)),
  gradient-to-r: linear-gradient(to right, var(--tw-gradient-stops)),
  gradient-to-br: linear-gradient(to bottom right, var(--tw-gradient-stops)),
  gradient-to-b: linear-gradient(to bottom, var(--tw-gradient-stops)),
  gradient-to-bl: linear-gradient(to bottom left, var(--tw-gradient-stops)),
  gradient-to-l: linear-gradient(to left, var(--tw-gradient-stops)),
  gradient-to-tl: linear-gradient(to top left, var(--tw-gradient-stops))
);


// 배경 이미지 클래스 생성
@each $key, $value in $backgroundImages {
  .bg-#{$key} {
    background-image: $value;
  }

  // 반응형 클래스 설정
  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:bg-#{$key} {
        background-image: $value;
      }
    }
  }

  // pseudo 클래스 설정
  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "bg-#{$key}") {
      background-image: $value;
    }
  }
}