@import "../breakpointtest.scss";
@import "../pseudo.scss";

$clips: (
  border: border-box,
  padding: padding-box,
  content: content-box,
  text: text
);

// 기본 클래스, pseudo 클래스, 반응형 클래스 설정
@each $key, $value in $clips {
  .bg-clip-#{$key} {
    background-clip: $value;
  }

  @each $pseudo in map-keys($pseudos) {
    @include pseudo($pseudo, "bg-clip-#{$key}") {
      background-clip: $value;
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include breakpoint($breakpoint) {
      .#{$breakpoint}\:bg-clip-#{$key} {
        background-clip: $value;
      }
    }
  }
}

// 그룹 호버 클래스 설정
.group:hover {
  @each $key, $value in $clips {
    .group-hover\:bg-clip-#{$key} {
      background-clip: $value !important;
    }
  }
}
