@import "../colors";
@import "../pseudo.scss";
@import "../breakpointtest.scss";

// 기본 그라디언트 설정
$gradients: (
  to-r: linear-gradient(to right, var(--tw-gradient-stops)),
  to-l: linear-gradient(to left, var(--tw-gradient-stops)),
  to-t: linear-gradient(to top, var(--tw-gradient-stops)),
  to-b: linear-gradient(to bottom, var(--tw-gradient-stops)),
  to-tr: linear-gradient(to top right, var(--tw-gradient-stops)),
  to-tl: linear-gradient(to top left, var(--tw-gradient-stops)),
  to-br: linear-gradient(to bottom right, var(--tw-gradient-stops)),
  to-bl: linear-gradient(to bottom left, var(--tw-gradient-stops)),
);


// 색상 맵에서 사용하여 그라디언트 클래스 생성
@each $colorName, $colorValue in $colors-map {
    $hexValue: if(
      type-of($colorValue) == "string",
      $colorValue,
      rgb-to-hex($colorValue)
    );
  
    .from-#{$colorName} {
      --tw-gradient-from: #{$hexValue} var(--tw-gradient-from-position);
      --tw-gradient-to: #{$hexValue}00 var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
  
    .to-#{$colorName} {
      --tw-gradient-to: #{$hexValue} var(--tw-gradient-to-position);
    }
  
    .via-#{$colorName} {
      --tw-gradient-stops: var(--tw-gradient-from), #{$colorValue}, var(--tw-gradient-to);
    }
  
    // pseudo 클래스 적용
    @each $pseudo in map-keys($pseudos) {
      @include pseudo($pseudo, "from-#{$colorName}") {
        --tw-gradient-from: #{$hexValue} var(--tw-gradient-from-position);
        --tw-gradient-to: #{$hexValue}00 var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      }
  
      @include pseudo($pseudo, "to-#{$colorName}") {
        --tw-gradient-to: #{$hexValue} var(--tw-gradient-to-position);
      }
  
      @include pseudo($pseudo, "via-#{$colorName}") {
        --tw-gradient-stops: var(--tw-gradient-from), #{$colorValue}, var(--tw-gradient-to);
      }
    }
  
    // 반응형 클래스 적용
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        .#{$breakpoint}\:from-#{$colorName} {
          --tw-gradient-from: #{$hexValue} var(--tw-gradient-from-position);
          --tw-gradient-to: #{$hexValue}00 var(--tw-gradient-to-position);
          --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        }
  
        .#{$breakpoint}\:to-#{$colorName} {
          --tw-gradient-to: #{$hexValue} var(--tw-gradient-to-position);
        }
  
        .#{$breakpoint}\:via-#{$colorName} {
          --tw-gradient-stops: var(--tw-gradient-from), #{$colorValue}, var(--tw-gradient-to);
        }
      }
    }
  }