//
// breadcrumb.scss
//

.breadcrumb {
    --#{$prefix}breadcrumb-font-weight: #{$breadcrumb-font-weight};
    --#{$prefix}breadcrumb-color: #{$breadcrumb-color};
    --#{$prefix}breadcrumb-hover-color: #{$breadcrumb-hover-color};
  
    flex-direction: row;
    gap: 0;
    font-weight: var(--#{$prefix}breadcrumb-font-weight);
}

// Breadcrumb item arrow
.breadcrumb-item {
    +.breadcrumb-item {
        &::before {
            font-family: "Material Design Icons";
            font-size: 16px;
            line-height: 1.3;
        }
    }
}

@if $enable-dark-mode {
    @include color-mode(dark) {
      .breadcrumb:not([data-bs-theme="light"]) {
        .breadcrumb-item + .breadcrumb-item::before {
          content: var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-dark)) #{"/* rtl:"} var(--#{$prefix}breadcrumb-divider, escape-svg($breadcrumb-divider-flipped-dark)) #{"*/"};
        }
      }
    }
  }